@charset "UTF-8";

body {
  font-family: "Lato";
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: bottom;
}

.is-Raleway {
  font-family: "Raleway";
}

.wrapper {
  margin: 0 auto;
}

.header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 10;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

main {
  padding-top: 70px;
}

.bolt-button {
  font-size: 2em;
}

.contact-button {
  color: #fff;
  background-color: #74cfae;
  font-size: 12px;
  padding: 14px 12px;
  transition: all 0.3s;
}

.contact-button:hover {
  color: #333;
}

.theme {
  background-color: #f2f2f2;
}

.theme-inner {
  background-color: #f2f2f2;
  padding: 250px 0;
  text-align: center;
}

.main-theme {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
}

.main-theme-p {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}

.section-container {
  background-color: #74cfae;
  width: 100%;
}

.section-text-container {
  text-align: center;
  margin-top: 20px;
}

.section-inner__title {
  font-size: 24px;
  color: #fff;
}

.section-inner__text {
  font-size: 20px;
  color: #fff;
  line-height: 22px;
  margin-top: 35px;
}

.article-container {
  background-color: #f2f2f2;
}

.article-container-inner {
  padding: 60px 0 70px 0;
}

.article-title {
  text-align: center;
  font-size: 24px;
  color: #333;
}

.article-image {
  opacity: 0.7;
  transition: all 0.3s;
}

.article-image:hover {
  opacity: 1;
}

.article-container-bottom {
  text-align: center;
}

.email-me__button-box {
  margin-top: 40px;
}

.section-bottom-images {
  text-align: center;
}

.email-me__button {
  color: #fff;
  background-color: #74cfae;
  font-size: 12px;
  padding: 14px 20px;
  display: inline-block;
  transition: all 0.3s;
}

.email-me__button:hover {
  color: #333;
}

.article-container__text {
  text-align: center;
}

.section-bottom {
  background-color: #333;
}

.section-bottom-inner {
  padding: 70px 0 100px 0;
}

.section-bottom-title {
  padding-bottom:70px;
  font-size: 24px;
  color: #fff;
  text-align: center;
}

.section-bottom-image figcaption {
  margin-top: 10px;
}

.sns-wrapper {
  background-color: #f2f2f2;
  text-align: center;
}

.btn-box {
  width: 185px;
}

.btn {
  font-size: 2em;
  color: #74cfae;
  box-sizing: border-box;
  width: 100%;
  padding: 30px 0;
  transition: all 0.3s;
}

.btn:hover {
  background-color:#fff;
}

.sns-wrapper-inner {
  padding: 200px 0;
}

.footer {
  background-color: #74cfae;
}

.footer-inner {
  padding: 20px 0 25px;
  text-align: right;
}

.footer__text {
  color: #fff;
  font-size: 15px;
}

@media screen and (min-width:1200px) {
  .inner {
    width: 1100px;
    margin: 0 auto;
  }

  .hamburger-box {
    display: none;
  }

  .section-inner {
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }

  .section-text-container {
    text-align: center;
    width: 780px;
    margin-left: 50px;
    padding-top: 20px;
  }

  .article-images {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    margin-top: 40px;
  }

  .article-image-container {
    box-sizing: border-box;
    margin: 80px 0 0 100px;
  }

  .article-image-container:nth-child(3n+1) {
    margin-left: 0;
  }

  .article-image-container:nth-child(-n+3) {
    margin-top: 0;
  }

  .article-container-bottom {
    text-align: center;
    margin-top: 90px;
  }

  .article-container-bottom-box {
    display: inline-block;
    width: 530px;
  }

  .email-me__button-box {
    display: inline-block;
    margin-left: 90px;
    vertical-align: top;
  }

  .section-bottom-inner {
    padding: 70px 0 100px 0;
  }

  .section-bottom-title {
    padding-bottom:70px;
    font-size: 24px;
    color: #fff;
    text-align: center;
  }

  .section-bottom-images {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section-bottom-image {
    margin-left:180px;
    color: #fff;
    font-size: 16px;
    text-align: center;
  }

  .section-bottom-image:first-child {
    margin-left: 0;
  }

  .sns-content {
    list-style: none;
    display:flex;
    justify-content: center;
  }
}

@media screen and (max-width:1199px) and (min-width:768px) {
  .inner {
    width: 97%;
    margin: 0 auto;
  }

  .hamburger-box {
    display: none;
  }
  
  .section-inner {
    padding: 50px 0 25px 0;
  }

  .section-image-container {
    text-align: center;
  }
  
  .article-images {
    box-sizing: border-box;
    margin-top: 40px;
  }
  
  .article-image-container {
    box-sizing: border-box;
    text-align: center;
  }

  .article-image-container:nth-child(3n) {
    margin-bottom: 80px;
  }

  .article-image-container:last-child {
    margin-bottom: 80px;
  }
  
  .section-bottom-image {
    margin-top: 88px;
    color: #fff;
    font-size: 16px;
  } 

  .section-bottom-image:first-child {
    margin-top: 0;
  }

  .sns-content {
    list-style: none;
    display:flex;
    justify-content: center;
  }
}

@media screen and (max-width:767px) {
  main {
    padding-top: 68px;
  }

  .inner {
    width: 97%;
    margin: 0 auto;
  }
  
  .header-inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
    }
  
  .contact-button {
    display: none;
  }

  .hamburger-box {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .bars {
    color: #f2f2f2;
  }

  .theme-inner {
    background-color: #f2f2f2;
    padding: 160px 0 130px 0;
    text-align: center;
  }
  
  .main-theme {
    color: #74cfae;
    font-size: 80px;
    font-weight: 700;
  }
  
  .section-inner {
    padding: 50px 0 25px 0;
  }

  .section-image-container {
    text-align: center;
  }
  
  .article-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }
  
  .article-image-container {
    box-sizing: border-box;
    text-align: center;
  }

  .article-image-container:first-child {
    margin-top: 40px;
  }

  .article-image-container:nth-child(3n) {
    margin-bottom: 80px;
  }

  .article-image-container:last-child {
    margin-bottom: 80px;
  }
  
  .section-bottom-image {
    margin-top: 88px;
    color: #fff;
    font-size: 16px;
  } 

  .section-bottom-image:first-child {
    margin-top: 0;
  }
  
  .sns-wrapper-inner {
    padding: 50px 15px 50px 15px;
    box-sizing: border-box;
  }

  .sns-content {
    display: inline-block;
  }
}
  
  


